In [ ]:
# Credits: some code borrowed from educative.io

In [ ]:
my_dict = {"age": 30, 
           "birth_year": 1991, 
           "name": "Pam", 
           "siblings": ["Sam", "Tam"]
           }

In [ ]:
my_dict['age']     # 30
my_dict.get('age') # 30

30

In [ ]:
my_dict.get('company', 1)

1

In [ ]:
'age' in my_dict     # True
'company' in my_dict # False

False

In [ ]:
my_dict.keys()

dict_keys(['age', 'birth_year', 'name', 'siblings'])

In [ ]:
for i in my_dict.values():
  print(i)

30
1991
Pam
['Sam', 'Tam']

In [ ]:
print(my_dict.items())

dict_items([('age', 30), ('birth_year', 1991), ('name', 'Pam'), ('siblings', ['Sam', 'Tam'])])

In [ ]:
for i in my_dict.items():
  print(i)

('age', 30)
('birth_year', 1991)
('name', 'Pam')
('siblings', ['Sam', 'Tam'])

<br>

# SETS

- can perform `intersection`, `difference`, and `union` on sets

In [ ]:
set1 = set()
set1.add(1)
set1.add(2)
set1.add(1)
# Note: set contains only a single 1 value
print("--- set1 ---")
print(set1)

--- set1 ---
{1, 2}

In [ ]:
set2 = set()
set2.add(1)
set2.add(5)
set2.add(3)
set2.add(4)
print("--- set2 ---")
print(set2) 
# Note: Notice how the items of the set are automatically ordered in the output

--- set2 ---
{1, 3, 4, 5}

In [ ]:
# overlap
set1.intersection(set2)

{1}

In [ ]:
# combination
set1.union(set2)

{1, 2, 3, 4, 5}

In [ ]:
# difference - what does set1 have that set2 doesn't have?
set1.difference(set2)       # set1 - set2

{2}

In [ ]:
# difference - what does set2 have that set1 doesn't have?
set2.difference(set1)       # set2 - set1

{3, 4, 5}